<%- include('../../document_temp/document-head') %>
<div>
	<div>
		牛栏(1头)
	    <section class="list">
	    	<ul>
	    		<li class="cow">
	    			<figure>
	    				图片<img src="" />
	    			</figure>
	    			<div class="desc">
	    				<div class="cow_name">
	    					天天牛#220
	    				</div>
	    				<div>
	    					<span class="generation">0</span>代牛
	    					<span class="hasBirth">可</span>生育
	    				</div>
	    				<div class="label">
	    					创世牛
	    				</div>
	    			</div>
	    		</li>
	    		<li class="cow">
	    			<figure>
	    				图片<img src="" />
	    			</figure>
	    			<div class="desc">
	    				<div class="cow_name">
	    					天天牛#220
	    				</div>
	    				<div>
	    					<span class="generation">0</span>代牛
	    					<span class="hasBirth">可</span>生育
	    				</div>
	    				<div class="label">
	    					创世牛
	    				</div>
	    			</div>
	    		</li>
	    	</ul>
	    </section>
	</div>
</div>

<%- include('../../page_temp/app-foot-nav') %>
<%- include('../../document_temp/document-foot') %>
 </body>
</html>