section.list ul li>figure{
	float: left;
	width: 3rem;
	height: 3rem;
}

section.list ul li>.desc{
	float: left;
	width: 6rem;
	height: 3rem;
}
.cow{
	height: 3rem;
}

section.list ul li.cow{
	border: 1px solid #333;
    margin:0.3rem 0.3rem 0 0.3rem;
    font-size: 0.3rem;
} 